#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}


.card {
  padding: 2em;
  background-color: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.read-the-docs {
  color: var(--secondary-color);
}

.my-component {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
