.glitch-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 2rem;
}

.glitch-text {
  font-family: 'Courier New', Courier, monospace;
  /* color: #00ff00; Neon green */
  /* text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00; */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
